<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/vue.js"></script>
    <title>Vue</title>
</head>
<body>

<div class="wrapper">
    <div class="sample">
        <div class="alert" :class="divClassName">Some Text</div>
        <div class="form-check">
            <label for="radio_1" class="form-check-label">
                <input id="radio_1"
                       type="radio"
                       value="info"
                       class="form-check-input"
                       v-model="radioName">
                Info
            </label>
        </div>
        <div class="form-check">
            <label for="radio_2" class="form-check-label">
                <input id="radio_2"
                       type="radio"
                       value="warning"
                       class="form-check-input"
                       v-model="radioName">
                Warning
            </label>
        </div>

        <hr>
        <div class="form-check" v-for="(value, name) in flags">
            <label :for="name" class="form-check-label">
                <input :id="name"
                       type="checkbox"
                       class="form-check-input" v-model="flags[name]"
                       >
                {{name}}
            </label>
        </div>
        <hr>
        <table class="table" :class="flags">
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>Text</td>
            </tr>
        </table>
    </div>
</div>

<script>

    new Vue({
        el: '.sample',
        data: {
            radioName: '',
            flags: {
                'table-bordered': false,
                'table-hover': false,
                'table-some': false,
            }
        },
        computed: {
            divClassName() {
                return [
                    'alert-' + this.radioName,
                    'my-' + this.radioName
                ]

            }
        }


    });
</script>
</body>
</html>